body {
    margin-left: 155px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: forestgreen;
    font-size: 1em;
}

.label {
    text-align: left;
    width: 150px;
    display: block;
    float: left;
    clear: right;
    font-size: 18px;
}

.botones {
    margin-left: 41px;
    color: forestgreen;
    font: 11px "Trebuchet MS", Arial, Helvetica;
}
